---
layout: default
---

<div class="allposts">
  <div class="row">

                    {% for post in paginator.posts %}

                    <div class="6u 12u(narrower)">

                      <section class="box special">
        {% if post.thumbnail %}
        <span class="image featured"><img src="{{ post.thumbnail }}" alt="" /></span>
        {% endif %}
        <h3>{{ post.title }}</h3>
<div class="excerpt"> <p> {{ post.excerpt | truncatewords:30 }} </p> </div>
<ul class="actions">
  <li><a href="{{ post.url | prepend: site.baseurl }}" class="button special">Continue Reading</a></li>
</ul>

                            </section>
        </div>
                    {% endfor %}



                    </section>
                    <section id="cta">
                    {% if paginator.previous_page %}
                    <a href="{{ paginator.previous_page_path }}" class="button small alt">Previous</a>
                    {% else %}
                    <span class="prev">Previous</span>
                    {% endif %}
                           <span class="number current ">{{ paginator.page }} of {{ paginator.total_pages }}</span>

                         {% if paginator.next_page %}
                    <a href="{{ paginator.next_page_path }}" class="button small">Next</a>
                    {% else %}
                    <span class="next ">Next</span>
                    {% endif %}
                     </section>
                   </div>
                 </div>
<!-- End Blog Section -->
