<div id="footer-wrapper" class="wrapper">
  <div class="title">More of me</div>

<div id="footer" class="container">

  <div class="row">
    <section class="feature-list small">
      <div class="row">
        <div>
          <section>
            <h3 class="icon fa-comment">Social</h3>
            <p>
            <a href="https://twitter.com/bhameyie" class="icon fa-twitter"><span class="label">Twitter</span></a>
            <a href="https://github.com/{{ site.github_username }}" class="icon fa-github"><span class="label">Github</span></a>
            <a href="http://www.linkedin.com/in/bhameyie" class="icon fa-linkedin"><span class="label">LinkedIn</span></a>
</p>
          </section>
        </div>
        <div>
          <section>
            <h3 class="icon fa fa-info-circle">Other sites</h3>
            <p>
              <a href="https://bhameyie.wordpress.com"><i class="fa fa-rss-square"></i> Old Blog</a><br/>
              <a href="https://bhameyie.com"><i class="fa fa-paper-plane" aria-hidden="true"></i> About Me</a><br/>

            </p>
          </section>
        </div>
      </div>
    </section>
</div>
</div>
<div id="copyright">
  <ul>
    <li>&copy;2016 Boguste Hameyie</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
  </ul>
</div>
</div>
