 <!-- Homepage Slider -->
<div id="home-slider">  
    <div class="overlay"></div>

  <div class="container">
      <div class="row">
          <div class="span12">
                <div class="slider-text">
                    <div id="slidecaption"></div>
                </div>
            </div>
        </div>
    </div>   
  
  <div class="control-nav">
        <a id="prevslide" class="load-item"><i class="font-icon-arrow-simple-left"></i></a>
        <a id="nextslide" class="load-item"><i class="font-icon-arrow-simple-right"></i></a>
        <ul id="slide-list"></ul>
        
        <a id="nextsection" href="#blog"><i class="font-icon-arrow-simple-down"></i></a>
    </div>
</div>
<!-- End Homepage Slider -->

<!-- Header -->
<header>
    <div class="sticky-nav">
      <a id="mobile-nav" class="menu-nav" href="#menu-nav"></a>
        
        <div id="logo">
          <a id="goUp" href="#home-slider" title="47 Ronin">{{ site.title }}</a>
        </div>
        
        <nav id="menu">
          <ul id="menu-nav">
              <li><a href="index.html#home-slider" class="current">Home</a></li>
               {% for page in site.pages %}
          {% if page.title %}
          <li><a class="external" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
          {% endif %}
        {% endfor %}
            </ul>
        </nav>
        
    </div>
</header>
<!-- End Header -->
