<!-- Header -->
<header id="header" class="alt">
  <h1><a id="goUp" href="/index.html" title="47 Ronin">{{ site.title }}</a></h1>
  <nav id="nav">
    <ul id="menu-nav">
        <li><a href="/index.html" class="external">Home</a></li>
         {% for page in site.pages %}
    {% if page.title %}
    <li><a class="external" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
    {% endif %}
  {% endfor %}
      </ul>
  </nav>
</header>
<!-- End Header -->
<section id="banner">
  <h2>{{ site.title }}</h2>
  <span class="font-icon-blockquote">
  <p>{{ site.description }}</p>
  </span>
  <ul class="actions">
    <li><a href="{{ "/feed.xml" | prepend: site.baseurl }}" class=" button special fa fa-rss-square">Feed</a></li>
  </ul>
</section>

<div class="big-quote page">
  <div class="container">
      <div class="row">
          <div class="span12">
              <p></p>

            </div>
        </div>
    </div>
</div>
