<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->

<head>
  <meta charset="utf-8">

  <!-- Site Title -->
  <title>Boguste Hameyie</title>

  <meta name="description" content="Boguste Hameyie Resume">
  <meta name="keywords" content="boguste, hameyie, resume, blog">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">

  <!-- Google Font -->
  <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>

  <!-- Bootstrap Core CSS -->
  <link href="/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">

  <!-- Font icons CSS -->
  <link href="/assets/plugins/icons-mind/style.css" rel="stylesheet" type="text/css">
  <link href="/assets/plugins/fontawesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

  <!-- Plugins CSS -->
  <link href="/assets/plugins/jpreloader/css/jpreloader.css" rel="stylesheet" type="text/css">
  <link href="/assets/plugins/animate-css/animate.min.css" rel="stylesheet" type="text/css">
  <link href="/assets/plugins/magnificPopup/magnific-popup.css" rel="stylesheet" type="text/css">
  <link href="/assets/plugins/flexSlider/flexslider.css" rel="stylesheet" type="text/css">
  <link href="/assets/plugins/morphext/morphext.css" rel="stylesheet" type="text/css">

  <!-- Main CSS -->
  <link href="/assets/css/berg.css" rel="stylesheet" type="text/css">

  <!-- Color CSS -->
  <link href="/assets/css/colors/green2.css" rel="stylesheet" type="text/css">

  <!-- Modernizr JS for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 8]>
    <script src="assets/plugins/modernizr.min.js"></script>
    <![endif]-->
</head>

<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" data-offset="66">
  <!--[if lt IE 10]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

  <!-- HERO START -->
  <header id="home" class="hero">
    <div class="hero-body">
      <div class="hero-text text-center">
        <h1>
                    I'm Boguste Hameyie <span class="blinker"></span>
                </h1>

        <h1 class="small"><span id="js-rotating">Software Craftsman | Pragmatic Developer</span></h1>

        <p> Developer, Tech Enthusiast, Hobby Photographer, Tea Drinker.</p>
        <a href="/blog" class="btn btn-lg btn-custom">
                        Read my blog
                    </a>
        <div class="page-scroll">
          <a href="#profile" class="btn btn-lg btn-custom">
                        Know Me Better
                    </a>

        </div>
        <!-- //.page-scroll -->
      </div>
      <!-- //.hero-text -->
    </div>
    <!-- //.hero-body -->
  </header>
  <!-- //HERO END -->


  <!-- NAVIGATION START -->
  <nav id="navigation" class="navbar navbar-fixed-top center-menu" role="navigation">
    <div class="container navbar-container">
      <div class="navbar-header page-scroll">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".berg-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand visible-xs visible-sm" href="#page-top">Boguste Hameyie</a>
      </div>
      <!-- //.navbar-header -->

      <div class="navbar-collapse collapse berg-collapse">
        <ul class="nav navbar-nav">
          <li class="page-scroll">
            <a href="#home">Home</a>
          </li>

          <li class="page-scroll">
            <a href="#profile">Profile</a>
          </li>

          <li class="page-scroll">
            <a href="#portfolio">Portfolio</a>
          </li>

          <li class="page-scroll">
            <a href="#services">Services</a>
          </li>

          <li class="page-scroll">
            <a href="#resume">Resume</a>
          </li>

          {% if site.reference_enabled %}
          <li class="page-scroll">
            <a href="#references">References</a>
          </li>
          {% endif %}

          <li class="page-scroll">
            <a href="#skills">Skills</a>
          </li>

          <li class="page-scroll">
            <a href="#contact">Contact</a>
          </li>
        </ul>
      </div>
      <!-- //.navbar-collapse -->
    </div>
    <!-- //.navbar-container -->
  </nav>
  <!-- //NAVIGATION END -->


  <!-- PROFILE SECTION START -->
  <section id="profile" class="section">
    <div class="container section-wrapper">
      <div class="section-content">
        <div class="row">
          <div class="col-md-7 match-height">

            <!-- PROFILE TEXT START -->
            <div class="profile-text padding-right-yes">
              <div class="row">
                <div class="col-md-12">
                  <h2 class="section-title">Hello, My Name is Boguste.</h2>

                  <p>
                    An experienced developer who likes to get things done.
                  </p>

                  <span class="divider"></span>

                  <p class="text-grey">{{ site.data.sbio.work.primary}} </p>

                  <p class="text-grey">
                    {{ site.data.sbio.work.secondary}} </p>
                  
                  <p class="text-grey"> {{ site.data.sbio.self.strength}} </p>
                  <p class="text-grey"> {{ site.data.sbio.self.expertise}} </p>
                </div>
                <!-- //.col-md-12 -->
              </div>
              <!-- //.row -->
            </div>
            <!-- //PROFILE TEXT END -->

            <!-- CONTACT DETAILS START -->
            <div class="contact-details padding-right-yes">
              <div class="row">
                <div class="col-sm-6 col-md-5">
                  <h4>Contact Details</h4>

                  <ul class="list-unstyled text-grey">
                    <li>Boguste Hameyie</li>
                    <li>Philadelphia, PA</li>
                    <li>www.bhameyie.com</li>
                  </ul>
                </div>
                <!-- //.col-md-5 -->

                <div class="col-sm-6 col-md-7">
                                  <a target="_blank" class="btn btn-lg btn-custom" href="https://github.com/bhameyie">
                                  <i class="fa fa-github fa-lg"></i></a>
          
                                    <a target="_blank" class="btn btn-lg btn-custom" href="https://twitter.com/bhameyie">
                                  <i class="fa fa-twitter fa-lg"></i></a>
          
                                    <a target="_blank" class="btn btn-lg btn-custom" href="http://stackoverflow.com/users/story/{{ site.stackoverflow_id }}">
                                  <i class="fa fa-stack-overflow fa-lg"></i></a>
          
                                    <a target="_blank" class="btn btn-lg btn-custom" href="https://www.linkedin.com/in/bhameyie">
                                  <i class="fa fa-linkedin fa-lg"></i></a>
 
                </div>
                <!-- //.col-md-6 -->
              </div>
              <!-- //.row -->
            </div>
            <!-- //CONTACT DETAILS END -->

          </div>
          <!-- //.col-md-7 -->

          <!-- PROFILE PICTURE START -->
          <div class="col-md-5 hidden-xs hidden-sm match-height pp-wrapper">
            <div class="profile-picture style-one">
              <img src="assets/images/profile-picture-1.jpg" alt="profile picture" class="img-responsive" />
            </div>
          </div>
          <!-- //PROFILE PICTURE END -->
        </div>
        <!-- //.row -->
      </div>
      <!-- //.section-content -->
    </div>
    <!-- //.container -->
  </section>
  <!-- //PROFILE SECTION END -->


  <!-- PORTFOLIO SECTION START -->
  <section id="portfolio" class="section">
    <div class="container-fluid section-wrapper">
      <div class="section-content">
        <div class="row">
          <div class="col-md-12 text-center">
            <h2 class="section-title">My Latest Work</h2>

            <p class="section-subtitle">Find out what I'm up to these days</p>

            <span class="divider center"></span>
          </div>
          <!-- //.col-md-12 -->
        </div>
        <!-- //.row -->

        <!-- PORTFOLIO START -->
        <div class="portfolio">
          <div class="row">
            {% for project in site.data.projects %}
            <div class="item col-sm-6 col-md-3">
              <div class="project-wrapper">
                <div class="project-link">
                  <a href="{{ project.image }}" class="zoom" title="{{ project.title }}">
                    <i class="icon-Full-Screen"></i>
                  </a>

                  <a href="{{ project.uri }}" target="_blank" class="external-link">
                    <i class="icon-Link"></i>
                  </a>
                </div>
                <!-- //.project-link -->

                <div class="project-title">
                  <h4>{{ project.title }}</h4>
                </div>
                <!-- //.project-title -->

                <img src="{{ project.image }}" alt="" class="img-responsive" />
              </div>
              <!-- //.project-wrapper -->
            </div>
            <!-- //.item -->
            {% endfor %}

            <!-- //.project-wrapper -->
          </div>
          <!-- //.item -->

          <!-- //.item -->


          <!-- //.item -->
        </div>
        <!-- //.row -->
      </div>
      <!-- PORTFOLIO END -->
    </div>
    <!-- //.section-content -->
    </div>
    <!-- //.container-fluid -->
  </section>
  <!-- //PORTFOLIO SECTION END -->


  <!-- SERVICES SECTION START -->
  <section id="services" class="section">
    <div class="container section-wrapper">
      <div class="section-content">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 text-center">
            <h2 class="section-title">What I'm Doing</h2>

            <p class="section-subtitle">
              I love what I do. What's the point of being alive if you don't at least try to do something remarkable.
            </p>

            <span class="divider center"></span>
          </div>
          <!-- //.col-md-8 -->
        </div>
        <!-- //.row -->

        <!-- SERVICES START -->
        <div class="services">
          <div class="row">
            {% for service in site.data.services %}
            <div class="col-sm-4 col-md-4 item top dark-bg match-height">
              <div class="inner-content">
                <i class="{{ service.icon }} colored-text"></i>

                <h4>{{ forloop.index }}. {{ service.name }}</h4>

                <p class="text-grey">
                  {{ service.content }} </p>
              </div>
              <!-- //.inner-content -->
            </div>
            {% endfor %}
            <!-- //.item -->
          </div>
          <!-- //.row -->
        </div>
        <!-- //SERVICES END -->
      </div>
      <!-- //.section-content -->
    </div>
    <!-- //.container -->
  </section>
  <!-- //SERVICES SECTION END -->


  <!-- STRENGTHS SECTION START -->
  <section id="strengths" class="section bg-image-yes">
    <div class="container-fluid section-wrapper">
      <div class="section-content">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 text-center">
            <h2 class="section-title">My Strengths</h2>

            <p class="section-subtitle" style="color: white;">Effort is what makes you smart or talented. Failure is merely an incentive to try a different approach next time.</p>

            <span class="divider center"></span>
          </div>
          <!-- //.col-md-8 -->
        </div>
        <!-- //.row -->

        <div class="row">
          <div class="col-md-12">

            <!-- COLUMN CHART START -->
            <div class="column-chart">
              <div class="legend legend-left hidden-xs">
                <h3 class="legend-title">ME</h3>
              </div>
              <!-- //.legend -->

              <div class="legend legend-right hidden-xs">
                <div class="item">
                  <h4>Some</h4>
                </div>

                <div class="item">
                  <h4>Of</h4>
                </div>

                <div class="item">
                  <h4>My</h4>
                </div>

                <div class="item">
                  <h4>strengths</h4>
                </div>
              </div>

              <!-- //.legend -->

              <div class="chart clearfix">
                {% for strength in site.data.strengths %}
                <div class="item">
                  <div class="bar">
                    <span class="percent"></span>

                    <div class="item-progress" data-percent="{{ strength.percent }}">
                      <span class="title">{{ strength.title }}</span>
                    </div>
                    <!-- //.item-progress -->
                  </div>
                  <!-- //.bar -->
                </div>
                {% endfor %}
                <!-- //.item -->

              </div>
              <!-- //.chart -->
            </div>
            <!-- //COLUMN CHART END -->

          </div>
          <!-- //.col-md-12 -->
        </div>
        <!-- //.row -->
      </div>
      <!-- //.section-content -->
    </div>
    <!-- //.container -->
  </section>
  <!-- //STRENGTHS SECTION END -->


  <!-- RESUME SECTION START -->
  <section id="resume" class="section">
    <div class="container section-wrapper">
      <div class="section-content">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 text-center">
            <h2 class="section-title">My Resume</h2>

            <p class="section-subtitle">
              If you call failures experiments, you can put them in your resume and claim them as achievements.
            </p>

            <span class="divider center"></span>
          </div>
          <!-- //.col-md-8 -->
        </div>
        <!-- //.row -->

        <!-- EDUCATION START -->
        <div class="row education">
          <div class="col-md-10 col-md-offset-1">
            <h3>
                            My Education
                            <br>
                            2006 - Forever
                        </h3>

            <div class="panel-group resume" id="education">
              {% for educ in site.data.education %}
              <div class="resume-item">
                <div class="resume-year">
                  <span class="resume-year">{{ educ.year }}</span>
                </div>
                <!-- //.resume-year -->

                <div class="resume-btn">
                  <a href="#education{{ forloop.index }}" data-toggle="collapse" data-parent="#education"></a>
                </div>
                <!-- //.resume-btn -->

                <div class="panel">
                  <div class="panel-heading">
                    <div class="panel-title">
                      <h4 class="resume-title"> {{ educ.institution }}</h4>
                    </div>
                    <!-- //.panel-title -->
                  </div>
                  <!-- //.panel-heading -->

                  <div id="education{{ forloop.index }}" class="panel-collapse collapse in">
                    <div class="panel-body text-grey">
                      {{ educ.description }}
                    </div>
                    <!-- //.panel-body -->
                  </div>
                  <!-- //.panel-collapse -->
                </div>
                <!-- //.panel -->
              </div>
              <!-- //.resume-item -->
              {% endfor %}
            </div>
            <!-- //.panel-group -->
          </div>
          <!-- //.col-md-10 -->
        </div>
        <!-- //EDUCATION END -->

        <!-- WORK EXPERIENCE START -->
        <div class="row work-experience">
          <div class="col-md-10 col-md-offset-1">
            <h3>
                            Work Experience
                            <br>
                            2011 - Now
                        </h3>

            <div class="panel-group resume" id="work">
              {% for exp in site.data.experiences %}
              <div class="resume-item">
                <div class="resume-year">
                  <span class="resume-year">{{ exp.year }}</span>
                </div>
                <!-- //.resume-year -->

                <div class="resume-btn">
                  <a href="#work{{ forloop.index }}" data-toggle="collapse" data-parent="#work"></a>
                </div>
                <!-- //.resume-btn -->

                <div class="panel">
                  <div class="panel-heading">
                    <div class="panel-title">
                      <h4 class="resume-title">{{ exp.title }}</h4>
                    </div>
                    <!-- //.panel-title -->
                  </div>
                  <!-- //.panel-heading -->

                  <div id="work{{ forloop.index }}" class="panel-collapse collapse in">
                    <div class="panel-body text-grey">
                      <p>Responsibilities:</p>
                      {{ exp.description }}
                    </div>
                    <!-- //.panel-body -->
                  </div>
                  <!-- //.panel-collapse -->
                </div>
                <!-- //.panel -->
              </div>
              <!-- //.resume-item -->
              {% endfor %}
            </div>
            <!-- //.panel-group -->
          </div>
          <!-- //.col-md-10 -->
        </div>
        <!-- //WORK EXPERIENCE END -->
      </div>
      <!-- //.section-content -->
    </div>
    <!-- //.container -->
  </section>
  <!-- //RESUME SECTION END -->

  {% if site.reference_enabled %}
  <!-- REFERENCES SECTION START -->
  <section id="references" class="section bg-image-yes">
    <div class="container-fluid section-wrapper">
      <div class="section-content">
        <div class="row">
          <div class="col-md-12 text-center">
            <h2 class="section-title">References</h2>

            <p class="section-subtitle" style="color:  white;">What has been said about me.</p>

            <span class="divider center"></span>
          </div>
          <!-- //.col-md-12 -->
        </div>
        <!-- //.row -->

        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <div class="flexslider references">
              <div class="slides">
                <div class="item">
                  <div class="animated" data-animation-effect="flipInX">
                    <div class="profile hidden-xs">
                      <img src="assets/images/references/profile-image-1.jpg" alt="" class="img-responsive img-circle img-thumbnail" />
                    </div>

                    <div class="content">
                      <h3>Lorena Group</h3>

                      <p>
                        "Berg is officially the man! His level of professionalism and the understanding of the subject matter is the reason i will be looking forward to working with him in the future."
                      </p>

                      <p class="source">
                        Eka Sari Lorena
                        <br>
                        <span>President Director</span>
                      </p>
                    </div>
                    <!-- //.content -->
                  </div>
                  <!-- //.animated -->
                </div>
                <!-- //.item -->

                <div class="item">
                  <div class="animated" data-animation-effect="flipInX">
                    <div class="profile hidden-xs">
                      <img src="assets/images/references/profile-image-2.jpg" alt="" class="img-responsive img-circle img-thumbnail" />
                    </div>

                    <div class="content">
                      <h3>NET TV</h3>

                      <p>
                        "As always Berg did an excellent job in just few hours. Great communication and fast excecution. Thanks for great work :)"
                      </p>

                      <p class="source">
                        Wishnutama Kusubandio
                        <br>
                        <span>CO-FOUNDER / CEO</span>
                      </p>
                    </div>
                    <!-- //.content -->
                  </div>
                  <!-- //.animated -->
                </div>
                <!-- //.item -->

                <div class="item">
                  <div class="animated" data-animation-effect="flipInX">
                    <div class="profile hidden-xs">
                      <img src="assets/images/references/profile-image-3.jpg" alt="" class="img-responsive img-circle img-thumbnail" />
                    </div>

                    <div class="content">
                      <h3>MNC Group</h3>

                      <p>
                        "As always, great creative thinking for the best solution. Berg is by far the most professional and knowledgeable provider I worked with. I will hire him again :)"
                      </p>

                      <p class="source">
                        Hary Tanoesoedibjo
                        <br>
                        <span>President Director</span>
                      </p>
                    </div>
                    <!-- //.content -->
                  </div>
                  <!-- //.animated -->
                </div>
                <!-- //.item -->

                <div class="item">
                  <div class="animated" data-animation-effect="flipInX">
                    <div class="profile hidden-xs">
                      <img src="assets/images/references/profile-image-4.jpg" alt="" class="img-responsive img-circle img-thumbnail" />
                    </div>

                    <div class="content">
                      <h3>CT Corp</h3>

                      <p>
                        "We called on Berg to help us deliver on few projects with tight deadlines. He seamlessly integrated into our workflow and quickly became a key part of our team. Great job!"
                      </p>

                      <p class="source">
                        Chairul Tanjung
                        <br>
                        <span>Founder and Chairman</span>
                      </p>
                    </div>
                    <!-- //.content -->
                  </div>
                  <!-- //.animated -->
                </div>
                <!-- //.item -->

                <div class="item">
                  <div class="animated" data-animation-effect="flipInX">
                    <div class="profile hidden-xs">
                      <img src="assets/images/references/profile-image-5.jpg" alt="" class="img-responsive img-circle img-thumbnail" />
                    </div>

                    <div class="content">
                      <h3>Mustika Ratu</h3>

                      <p>
                        "Berg technical knowledge and branding experience came together and resulted in a site that is not only catching and interesting, but also one that is user-friendly. Thanks again."
                      </p>

                      <p class="source">
                        Mooryati Soedibyo
                        <br>
                        <span>President Director</span>
                      </p>
                    </div>
                    <!-- //.content -->
                  </div>
                  <!-- //.animated -->
                </div>
                <!-- //.item -->
              </div>
              <!-- //.slides -->

              <div class="flexslider-controls">
                <ul class="flex-control-nav">
                  <li>
                    <img src="assets/images/references/profile-image-1.jpg" alt="" class="img-responsive" />
                  </li>

                  <li>
                    <img src="assets/images/references/profile-image-2.jpg" alt="" class="img-responsive" />
                  </li>

                  <li>
                    <img src="assets/images/references/profile-image-3.jpg" alt="" class="img-responsive" />
                  </li>

                  <li>
                    <img src="assets/images/references/profile-image-4.jpg" alt="" class="img-responsive" />
                  </li>

                  <li>
                    <img src="assets/images/references/profile-image-5.jpg" alt="" class="img-responsive" />
                  </li>
                </ul>
              </div>
              <!-- //.flexslider-controls -->

              <ul class="flex-direction-nav-custom list-inline hidden-xs">
                <li>
                  <a class="flex-prev" href="#">
                    <i class="icon-Left-3"></i>
                  </a>
                </li>

                <li>
                  <a class="flex-next" href="#">
                    <i class="icon-Right-3"></i>
                  </a>
                </li>
              </ul>
            </div>
            <!-- //.flexslider -->
          </div>
          <!-- //.col-md-8 -->
        </div>
        <!-- //.row -->
      </div>
      <!-- //.section-content -->
    </div>
    <!-- //.container -->
  </section>
  <!-- //REFERENCES SECTION END -->
  {% endif %}

  <!-- SKILLS SECTION START -->
  <section id="skills" class="section">
    <div class="container section-wrapper">
      <div class="section-content">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 text-center">
            <h2 class="section-title">Skills & Expertise</h2>

            <p class="section-subtitle">My growing list of skills.</p>

            <span class="divider center"></span>
          </div>
          <!-- //.col-md-8 -->
        </div>
        <!-- //.row -->

        <!-- CIRCLE CHART START -->
        <div class="circle-chart">
          <div class="row">
            {% for skill in site.data.skills %}
            <div class="col-sm-4 col-md-2">
              <div class="item">
                <div class="circle">
                  <span class="item-progress" data-percent="{{ skill.percent }}"></span>
                </div>
                <!-- //.circle -->

                <span class="percent"> - </span>

                <h4 class="text-center">{{ skill.title }}</h4>
              </div>
              <!-- //.item -->
            </div>
            <!-- //.col-md-2 -->
            {% endfor %}
          </div>
          <!-- //.row -->
        </div>
        <!-- //CIRCLE CHART END -->
      </div>
      <!-- //.section-content -->
    </div>
    <!-- //.container -->
  </section>
  <!-- //SKILLS SECTION END -->


  <!-- KNOWLEDGE SECTION START -->
  <section id="knowledge" class="section">
    <div class="container section-wrapper">
      <div class="section-content">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 text-center">
            <h2 class="section-title">Knowledge</h2>

            <p class="section-subtitle">Some of the things I know.</p>

            <span class="divider center"></span>
          </div>
          <!-- //.col-md-8 -->
        </div>
        <!-- //.row -->

        <!-- BAR CHART START -->
        <div class="row">
          <div class="col-sm-6 col-md-6">
            <div class="bar-chart">
              {% for kn in site.data.knowledge.row1 %}
              <div class="item">
                <h4> {{ kn.title }}</h4>

                <div class="bar">
                  <span class="percent">-</span>
                  <span class="item-progress" data-percent="{{kn.percent}}"></span>
                </div>
                <!-- //.bar -->
              </div>
              <!-- //.item -->
              {% endfor %}
            </div>
            <!-- //.bar-chart -->
          </div>
          <!-- //.col-md-6 -->

          <div class="col-sm-6 col-md-6">
            <div class="bar-chart">
              {% for kn in site.data.knowledge.row2 %}
              <div class="item">
                <h4> {{ kn.title }}</h4>

                <div class="bar">
                  <span class="percent">-</span>
                  <span class="item-progress" data-percent="{{kn.percent}}"></span>
                </div>
                <!-- //.bar -->
              </div>
              <!-- //.item -->
              {% endfor %}
            </div>
            <!-- //.bar-chart -->
          </div>
          <!-- //.col-md-6 -->
        </div>
        <!-- //BAR CHART END -->
      </div>
      <!-- //.section-content -->
    </div>
    <!-- //.container -->

  </section>
  <!-- //KNOWLEDGE SECTION END -->


  {% if site.accolades_enabled %}
  <!-- ACCOLADES SECTION START -->
  <section id="accolades" class="section">
    <div class="container section-wrapper">
      <div class="section-content">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 text-center">
            <h2 class="section-title">Accolades</h2>

            <p class="section-subtitle">The accolades, just like the scrapes and bruises, fade in the end, and all you're left with is your ambition.</p>

            <span class="divider center"></span>
          </div>
          <!-- //.col-md-8 -->
        </div>
        <!-- //.row -->

        <div class="row">
          <div class="col-md-6 col-md-offset-3">

            <!-- ACCOLADES START -->
            <div class="accolades">
              <div class="item">
                <i class="icon-Twitter"></i>

                <div class="content">
                  <h3>Marketing Excellence Awards 2014</h3>

                  <p class="text-grey">Excellence in Social Media Marketing</p>
                </div>
                <!-- //.content -->
              </div>
              <!-- //.item -->

              <div class="item">
                <i class="icon-Idea-2"></i>

                <div class="content">
                  <h3>The "Big Idea" Competition 2012</h3>

                  <p class="text-grey">Top 3 Team</p>
                </div>
                <!-- //.content -->
              </div>
              <!-- //.item -->

              <div class="item">
                <i class="icon-Brush"></i>

                <div class="content">
                  <h3>Water Seven Art Directors Club Awards 2010</h3>

                  <p class="text-grey">Finalist - Design</p>

                  <p class="text-grey">Finalist - Print Ad</p>
                </div>
                <!-- //.content -->
              </div>
              <!-- //.item -->

              <div class="item">
                <i class="icon-Funky"></i>

                <div class="content">
                  <h3>Young Guns Award 2009</h3>

                  <p class="text-grey">Finalist - Digital Campaign</p>
                </div>
                <!-- //.content -->
              </div>
              <!-- //.item -->
            </div>
            <!-- //ACCOLADES END -->

            <div class="bookmark text-grey text-center">
              <i class="icon-Bookmark"></i>
            </div>
            <!-- //.bookmark -->
          </div>
          <!-- //.col-md-6 -->
        </div>
        <!-- //.row -->
      </div>
      <!-- //.section-content -->
    </div>
    <!-- //.container -->
  </section>
  <!-- //ACCOLADES SECTION END -->
  {% endif %}

  <!-- MILESTONES SECTION START -->
  <section id="milestones" class="section bg-image-yes">
    <div class="container-fluid section-wrapper">
      <div class="section-content">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 text-center">
            <h2 class="section-title">Milestones Achieved</h2>

            <p class="section-subtitle" style="color:  white;">My path has not been determined. I shall have more experiences and pass many more milestones.</p>

            <span class="divider center"></span>
          </div>
          <!-- //.col-md-8 -->
        </div>
        <!-- //.row -->

        <!-- MILESTONES START -->
        <div class="milestones">
          <div class="row">
            <div class="col-sm-6 col-md-3 item">
              <div class="circle">
                <i class="icon-Coffee"></i>
              </div>
              <!-- //.circle -->

              <span class="number" data-from="10" data-to="2400" data-refresh-interval="100">
                                10
                            </span>

              <h4>Cups of Tea</h4>
            </div>
            <!-- //.item -->

            <div class="col-sm-6 col-md-3 item">
              <div class="circle">
                <i class="icon-Clock"></i>
              </div>
              <!-- //.circle -->

              <span class="number" data-from="1" data-to="5" data-refresh-interval="100">
                                10
                            </span>

              <h4>Years Worked</h4>
            </div>
            <!-- //.item -->

            <div class="col-sm-6 col-md-3 item">
              <div class="circle">
                <i class="icon-Coding"></i>
              </div>
              <!-- //.circle -->

              <span class="number" data-from="1" data-to="23" data-refresh-interval="10">
                                10
                            </span>

              <h4>Projects Tackled</h4>
            </div>
            <!-- //.item -->

            <div class="col-sm-6 col-md-3 item">
              <div class="circle">
                <i class="icon-Smile"></i>
              </div>
              <!-- //.circle -->

              <span class="number" data-from="1" data-to="50" data-refresh-interval="10">
                                5
                            </span>

              <h4>Happy Teammates</h4>
            </div>
            <!-- //.item -->
          </div>
          <!-- //.row -->
        </div>
        <!-- //MILESTONES END -->
      </div>
      <!-- //.section-content -->
    </div>
    <!-- //.container -->
  </section>
  <!-- //MILESTONES SECTION END -->

  {% if site.process_enabled %}
  <!-- WORK PROCESS SECTION START -->
  <section id="work-process" class="section">
    <div class="container section-wrapper">
      <div class="section-content">
        <div class="row">
          <div class="col-md-12 text-center">
            <h2 class="section-title">Work Process</h2>

            <p class="section-subtitle">
              Process I believe in.
            </p>

            <span class="divider center"></span>
          </div>
          <!-- //.col-md-12 -->
        </div>
        <!-- //.row -->

        <div class="row">
          <div class="col-md-12">
            <div class="text-grey text-justify">
              <ul>
                <li>I'm a firm believer of Agile as <a href="http://jpattonassociates.com/agile-is-culture-not-process/">culture.</a> </li>
                <li>I value access to customers or customer representatives.</li>
                <li>I value quick feedback loops and small sprints.</li>
                <li>I believe in always producing tested, maintainable code.</li>
              </ul>
            </div>
          </div>
          <!-- //.col-md-12 -->
        </div>
        <!-- //.row -->

        <!-- WORK PROCESS START -->
        <div class="work-process">
          <div class="row">
            <div class="col-sm-2 col-md-2 item no-margin first">
              <div class="inner-content">
                <i class="icon-Light-Bulb2"></i>

                <span class="title">1. Idea</span>

                <span class="dot"></span>
              </div>
              <!-- //.inner-content -->

              <i class="icon-Arrow icon-Down-3"></i>
            </div>
            <!-- //.item -->

            <div class="col-sm-2 col-md-2 item">
              <div class="inner-content">
                <i class="icon-Pencil"></i>

                <span class="title">2. Sketch</span>
              </div>
              <!-- //.inner-content -->

              <i class="icon-Arrow icon-Up-3"></i>
            </div>
            <!-- //.item -->

            <div class="col-sm-2 col-md-2 item no-margin">
              <div class="inner-content">
                <i class="icon-Monitor-2"></i>

                <span class="title">3. Design</span>
              </div>
              <!-- //.inner-content -->

              <i class="icon-Arrow icon-Down-3"></i>
            </div>
            <!-- //.item -->

            <div class="col-sm-2 col-md-2 item">
              <div class="inner-content">
                <i class="icon-Coding"></i>

                <span class="title">4. Develop</span>
              </div>
              <!-- //.inner-content -->

              <i class="icon-Arrow icon-Up-3"></i>
            </div>
            <!-- //.item -->

            <div class="col-sm-2 col-md-2 item no-margin">
              <div class="inner-content">
                <i class="icon-Bug"></i>

                <span class="title">5. Test</span>
              </div>
              <!-- //.inner-content -->

              <i class="icon-Arrow icon-Down-3"></i>
            </div>
            <!-- //.item -->

            <div class="col-sm-2 col-md-2 item last">
              <div class="inner-content">
                <i class="icon-Rocket"></i>

                <span class="title">6. Launch</span>

                <span class="dot"></span>
              </div>
              <!-- //.inner-content -->
            </div>
            <!-- //.item -->
          </div>
          <!-- //.row -->
        </div>
        <!-- //WORK PROCESS END -->

        <div class="row">
          <div class="col-md-12">
            <p class="text-grey text-justify">
              Consequently, my preferred process is one in which
            </p>
          </div>
          <!-- //.col-md-12 -->
        </div>
        <!-- //.row -->
      </div>
      <!-- //.section-content -->
    </div>
    <!-- //.container -->
  </section>
  <!-- //WORK PROCESS SECTION END -->
  {% endif %}

  <!-- FOOTER START -->
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="page-scroll">
            <a href="#page-top"><i class="icon-Arrow-Up"></i></a>
          </div>
          <!-- //.page-scroll -->

          <ul class="list-inline social-icons">
            <li>
              <div class="item">
                <a href="https://github.com/bhameyie" target="_blank"><i class="fa fa-github"></i></a>
              </div>
              <!-- //.item -->
            </li>

            <li>
              <div class="item">
                <a href="https://twitter.com/bhameyie" target="_blank"><i class="fa fa-twitter"></i></a>
              </div>
              <!-- //.item -->
            </li>
            
            <li>
              <div class="item">
      <a target="_blank" href="http://stackoverflow.com/users/story/{{ site.stackoverflow_id }}">
      <i class="fa fa-stack-overflow"></i> </a>
              </div>
              <!-- //.item -->
            </li>


            <li>
              <div class="item">
                <a href="https://www.linkedin.com/in/bhameyie" target="_blank"><i class="fa fa-linkedin"></i></a>
              </div>
              <!-- //.item -->
            </li>
          </ul>
        </div>
        <!-- //.col-md-12 -->
      </div>
      <!-- //.row -->

      <div class="row">
        <div class="col-md-12">
          <div class="copyright text-center">
            <p class="text-grey">&copy; {{ 'now' | date: "%Y" }} {{ site.author }}. All rights reserved.</p>
          </div>
          <!-- //.copyright -->
        </div>
        <!-- //.col-md-12 -->
      </div>
      <!-- //.row -->
    </div>
    <!-- //.container -->
  </footer>
  <!-- //FOOTER END -->


  <!-- Plugins JS -->
  <script src="assets/plugins/jquery.min.js"></script>
  <script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
  <script src="assets/plugins/jpreloader/js/jpreloader.min.js"></script>
  <script src="assets/plugins/detectmobilebrowser/detectmobilebrowser.js"></script>
  <script src="assets/plugins/debouncer/debouncer.js"></script>
  <script src="assets/plugins/easing/jquery.easing.min.js"></script>
  <script src="assets/plugins/sticky/jquery.sticky.js"></script>
  <script src="assets/plugins/inview/jquery.inview.min.js"></script>
  <script src="assets/plugins/matchHeight/jquery.matchHeight-min.js"></script>
  <script src="assets/plugins/magnificPopup/jquery.magnific-popup.min.js"></script>
  <script src="assets/plugins/flexSlider/jquery.flexslider-min.js"></script>
  <script src="assets/plugins/countTo/jquery.countTo.js"></script>
  <script src="assets/plugins/morphext/morphext.min.js"></script>

  <!-- Main JS -->
  <script src="assets/js/main.js"></script>

  <!-- Text Rotator JS -->
  <script src="assets/js/text-rotator.js"></script>

  <!-- Animation JS (Optional) -->
  <script src="assets/js/animation.js"></script>

</body>

</html>
