---
layout: default
---
<div id="about" class="page-alternate">
<div class="container">
    <!-- Title Page -->
    <div class="row">
        <div class="span12">
            <div class="title-page">
                <h2 class="title">{{ page.title }}</h2>
                
                <div class="page-description">
                    {{ content }}
                </div>
                
            </div>
        </div>
    </div>
    <!-- End Title Page -->

    
    <div class="sep">
    	<span class="separator"></span>
    </div>
</div>
</div>
<!-- End About Section -->